*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.imgLeft{
    display: inline-block;
}
.main{
    display: inline-block;
    width: 780px;
    margin-left: 5%;
    margin-top: 5%;
    vertical-align: top
}

.header{

    display: inline-block;
}
.logo{
    display: inline-block;
}
.name{
    font-family: sacramento;
    color: #8E6447;
    display: inline-block;
    margin-left: 13px;
}
.name h1{
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

.register-form{

    margin-top: 50px;
}

.register h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #8E6447;
}
.register p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #8E6447;
    margin-top: 20px;
}

.container{
    margin-top: 20px;
}
.title h3{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    font-optical-sizing: auto;
    color: #0B132A;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.form{
    position: relative;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.icon{
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    top: 35%;
    left: 2%;
}
.eye{
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    top: 35%;
    right: 2%;
}
.input{
    width: 100%;
    height: 50px;
    padding-left: 6%;
    border-radius: 8px;
    position: absolute;
}
.button-reg{
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    background-color: #FF8906;
    color: #0B132A;
    line-height: 20px;
    letter-spacing: 0%;
    font-size: 16px;
    left: 45%;
    border: none;
    border-radius: 10px;
    height: 60px;
}
.reg-bawah p{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #4F5665;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40%;
}
.reg-bawah a{
    color: #FF8906;
    text-decoration-line: none;
}
.reg-bawah>.or{
    margin-left: 8.5%;
    color: #AAAAAA;
}

.fbgoogle{
    width: 100%;
    display: inline-block;    
}
.fbgoogle>.box{
    position:relative;
    border: 1px solid #FFFFFF;
    box-shadow: #00000014;
    border-radius: 10px;
    display: inline-block;
    height: 50px;
    width: 48%;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 4px #00000014;
}
.icon-fb{
    left: 5%;
    vertical-align: middle;
}
.google{
    border: solid 1px;
    border-radius: 10px;
    display: inline-block;
    height: 50px;
    width: 48%;
    text-align: center;
    padding-top: 10px;
}
.fbgoogle p{
    display: inline-block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5%;
    line-height: 100%;
    color: #4F5665;
    vertical-align: middle;
    margin-left: 15px;
}
.icon-google{
    vertical-align: middle;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 75px;
    background-color: rgba(11, 9, 9, 0.13)
}

.nav-icon p{
    display: inline-block;
    color: #FFFFFF;
    font-family: sacramento;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    margin-left: 10px;
    vertical-align: top;
    padding-top: 7px;
}
.nav-kiri{
    /* border: 1px solid white; */
    width: 50%;
    float: left;
    /* height: 65px; */
    vertical-align: middle;
}
.nav-icon{
    margin-left: 17%;
    margin-top: 20px;
    display: inline-block;
}
.nav-icon-img{
    
}
.nav-list{
    /* background-color: #8E6447; */
    /* margin-left: 50px; */
    display: inline-block;
}
.nav-list ul{
    display: inline-block;
}
.nav-list li{
    display: inline-block;
    list-style-type: none;
    margin-left: 80px;
    vertical-align: middle;
    margin-bottom: 20px;
}
.home{
    border-bottom: #FF8906 1px solid;
    padding-bottom: 5px;
}
.nav-list a{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: white;
    text-decoration-line: none;
}
.nav-kanan{
    float: right;
    margin-right: 9.5%;
    margin-top: 1%;
    vertical-align: middle;
    /* width: 50%; */
    /* background-color:#8E6447; */

}
.img-nav-kanan{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;

}
.nav-kanan ul{
    list-style-type: none;
    display: inline-block;
}
.nav-kanan li{
    display: inline-block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    width: 83px;
    height: 50px;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 15px;
}
.nav-kanan a{
}
.signin{
    border: #FFFFFF solid 1px;
    border-radius: 5px;
    margin-right: 10px;
}
.signin a{
    text-decoration-line: none;
    color: white;
    vertical-align: middle;
    padding-left: 6px;
    padding-top: 5px;
}
.signup a{
    text-decoration-line: none;
    color: black;
}
.signup{
    color: white;
    text-decoration-line: none;
    background-color: #FF8906;
    border-radius: 5px;

}

.main{
    width: 100%;
}
.main-kiri{
    top: -7px;
    background: linear-gradient(168.18deg, #777C82 -114.74%, #0B0909 91.35%);
    height: 1024px;
    width: 50%;
    position: absolute;
    margin-top: -25px;
}
.content-main-kiri{
    /* margin-top: 280px;
    margin-left: ; */
    margin: 40% 10% 60% 15%;
    width: 65%;
}
.content-main-kiri h1{
    font-size: 48px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    color: white;
}
.content-main-kiri p{
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    color: white;
    
}
.get-start{
    background-color: #FF8906;
    text-decoration-line: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 15px 30px;
    margin-top: 30px;
    position: absolute;
    border-radius: 5px;
    font-size: 14px;
    color: #0B0909;

}
.co-angka{
    margin-top: 90px;
    display: inline-block;
    width: 100%;
}
.co-angka div{
    display: inline-block;
    width: 90px;
}
.stat{
    margin-right: 0px;
}
.stat2 {
    margin-left: 45px;
    border-left: solid 1px white;
    padding-left: 45px;
}
.stat3 {
    border-left: solid 1px white;
    padding-left: 40px;
    margin-left: 100px;
}
.stat2 h2 p{
    /* margin-left: 50px; */
    /* padding-left: 90px; */
}
.co-angka h2{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #FF8906;
}
.main-kanan{
    margin-top: -50px;
}
.img-main-kanan{
    /* margin-top: -50px; */
    height: 1024px;
    width: 50%;
    float: right;
    z-index: 1;
}
#provide-section{
    /* background-color: #8E6447; */
    border-radius: 2px solid black;
    width: 100%;
    height: 574px;
    top: 992px;
    position: absolute;
    font-family: "Plus Jakarta Sans", sans-serif;


    .provide-left{
        width: 50%;
        height: 100%;
        float: left;
        /* background-color: #4F5665; */

        .content-provide-left{
            margin: 9%;
            
            h2{
                font-size: 48px;
                font-weight: 500;
            }
            .h2-brown{
                color: #8E6447;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                margin-top: 25px;
            }
            li{
                font-size: 14px;
                font-weight: 400;
                padding-bottom: 10px;
                /* margin-top: 10px; */
                /* margin-bottom: 10px; */
                top: 0;
                /* border: 1px solid black; */
                vertical-align:top;
                
            }
            ul{
                list-style: url(icon/bx_bxs-check-circle.png);
                /* border: #FF8906 1px solid; */
                vertical-align: middle;
                
                margin-left: 30px;
                margin-top: 25px;
                top: 0;
                /* padding-top: 30px; */
                
                
            }
        }
    }
    .provide-right{
        /* background-color: aqua; */
        
        width: 50%;
        height: 100%;
        display: inline-block;
        overflow: hidden
    }
    .provide-right img{
        width: 100%;
        
    }
}

.favorite-section{
    /* background-color: violet; */
    position: relative;
    top: 630px;
    width: 100%;
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: ; */
}
.favorite-section h2{
    font-size: 48px;
    font-weight: 500;
    /* margin-left: 260px; */
    /* text-align: center; */
}
.favorit-title p{
    font-size: 16px;
    font-weight: 400;
    /* margin-left: 260px; */
    margin-bottom: 50px;
}
.favorit-title{
    justify-items: center;
}
.favorit-title .h2-brown{
    color: #8E6447;
}
.garis{
    width: 70px;
    border: 3px solid #FF8906;
    /* margin-left: 505px; */
    margin-top: 25px;
    margin-bottom: 25px;
}
.favorite-galery{
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* background-color: #0B0909; */
}
.favorite-galery .haznut img{
    width: 280px;
    height: 268px;
    position:relative;
    z-index: -1;
}
.haznut .caption p:last-of-type{
    font-size: 22px;
    font-weight: 500;
    color: #FF8906;
}
.haznut .caption p:first-of-type{
    font-size: 14px;
}
.haznut .caption a{
    background-color: #FF8906;
    width: 150px;
    height: 35px;
    text-align: center;
    text-decoration-line: none;
    color: black;
    font-size: 14px;
    align-content: center;
    border-radius: 6px;
}
.haznut .caption div:last-child{
    display: flex;
}
.haznut .caption img{
    width: 58px;
    height: 35px;
    align-content: center;
    z-index: 1;
    border: #FF8906 solid 1px;
    border-radius: 6px;
    margin-left: 10px;
}
.haznut .caption{
    background-color: #FFFFFF;
    top: -50px;
    left: 10px;
    width: 262px;
    height: 217px;
    position: relative;
    padding: 10px;
}
.visit{
    position: relative;
    top: 620px;
    justify-items: center;
    text-align: center;
}
.visit h1{
    font-size: 48px;
    font-weight: 500;
    
}
.visit .hbrown{
    color: #8E6447;
}
.visit img{
    width: 900px;
    height: 586px;
}
.container{
    position: relative;
    top: 700px;
    background: linear-gradient(168.18deg, #777C82 -114.74%, #0B0909 91.35%);
    display: flex;
    vertical-align: middle;
    height: 583px;
    gap: 20px;
    padding: 80px;
}
.testimonial > .container div:last-child > div:last-of-type{
    display: flex;
    gap: 10px;
    height: 55px;
    width: 103px;
}
.testimonial > .container > div:last-child{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}
.testimonial > .container > div:last-child p{
    color: white;
    font-size: 16px;
}
.testimonial > .container > div:last-child h1{
    border-left: #FF8906 5px solid;
    font-size: 48px;
    color: white;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    vertical-align: middle;
}
.testimonial > .container div:last-child .bintang{
    width: 220px;
    height: 20px;
}
.testimonial > .container div:last-child > img:last-child{
    height: 9px;
    width: 76px;
}
.testimonial > .container div:first-child{
    width: 578px;
    height: 432px;
}
.testimonial img{
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit:cover;
}
footer{
    position: relative;
    height: 371px;
    top: 600px;
    margin-top: 200px;
}
footer div:first-child{
    display: flex;
    gap: 50px;
    margin: 50px;
}
footer div:first-child > div:first-child{
    display: flex;
    flex-direction: column;
    width: 340px;
}
footer > div:first-child > div:first-child .logo{
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;

    img{
        width: 24px;
        height: 24px;
    }
    h1{
        font-family: sacramento;
        color: #8E6447;
        font-size: 20px;
        font-weight: 400;
        padding-left: 15px;
    }
}
footer > div:first-child > div:first-child p{
    font-size: 16px;
    margin-top: 0;
    color: #4F5665;
}

footer > div ul {
    list-style-type: none;
    /* margin-top: 10px; */
}
footer > div li {
    color: #4F5665;
    margin-top: 15px;
}
footer > div h4{
    margin-bottom: 20px;
}
.chat{
    z-index: 5;
    position: fixed;
    right: 5%;
    bottom: 15%;
    background-color: #FF8906;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.navbar-products{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 75px;
    background-color: #0B0909;
}

body > div.we-provide {
    height: 360px;
    /* top: 75px; */
    width: 100%;
    background-image: url(img/tiga-kopi.jpg) ;
    background-position: bottom 35% center;
    background-size: cover;
}
.we-provide > div:first-child{
    /* position: absolute; */
}
.we-provide h1{
    position: relative;
    color: white;
    z-index: 2;
    font-size: 48px;
    font-weight: 400;
    top: 180px;
    width: 850px;
    margin-left: 120px;
    line-height: 100%;
}
.promo > div:first-child{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}
.promo .section .kupon{
    width: 335px;
    height: 106px;
    border-radius: 20px;
    display: flex;
    background-color: #88B788;
    padding: 5px;
    font-size: 14px;
}
.promo .section .kupon img{
    height: 109px;
    width: 96px;
}
.motherday{
    font-weight: 800;
}
.promo .section .kupon div:last-child p:last-of-type{
    color: white;
    margin-top: 15px;
}
.promo .section{
    display: flex;
}