*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

.imgLeft{
    display: inline-block;
}
.main{
    display: inline-block;
    width: 780px;
    margin-left: 5%;
    margin-top: 5%;
    vertical-align: top
}

.header{

    display: inline-block;
}
.logo{
    display: inline-block;
}
.name{
    font-family: sacramento;
    color: #8E6447;
    display: inline-block;
    margin-left: 13px;
}
.name h1{
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

.register-form{

    margin-top: 50px;
}

.register h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #8E6447;
}
.register p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #8E6447;
    margin-top: 20px;
}

.container{
    margin-top: 20px;
}
.title h3{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    font-optical-sizing: auto;
    color: #0B132A;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.form{
    position: relative;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.icon{
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    top: 35%;
    left: 2%;
}
.eye{
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    top: 35%;
    right: 2%;
}
.input{
    width: 100%;
    height: 50px;
    padding-left: 6%;
    border-radius: 8px;
    position: absolute;
}
.button-reg{
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    background-color: #FF8906;
    color: #0B132A;
    line-height: 20px;
    letter-spacing: 0%;
    font-size: 16px;
    left: 45%;
    border: none;
    border-radius: 10px;
    height: 60px;
}
.reg-bawah p{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #4F5665;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40%;
}
.reg-bawah a{
    color: #FF8906;
    text-decoration-line: none;
}
.reg-bawah>.or{
    margin-left: 8.5%;
    color: #AAAAAA;
}

.fbgoogle{
    width: 100%;
    display: inline-block;    
}
.fbgoogle>.box{
    position:relative;
    border: 1px solid #FFFFFF;
    box-shadow: #00000014;
    border-radius: 10px;
    display: inline-block;
    height: 50px;
    width: 48%;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 4px #00000014;
}
.icon-fb{
    left: 5%;
    vertical-align: middle;
}
.google{
    border: solid 1px;
    border-radius: 10px;
    display: inline-block;
    height: 50px;
    width: 48%;
    text-align: center;
    padding-top: 10px;
}
.fbgoogle p{
    display: inline-block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5%;
    line-height: 100%;
    color: #4F5665;
    vertical-align: middle;
    margin-left: 15px;
}
.icon-google{
    vertical-align: middle;
}